input {
	file {
		path => "creditcard2.csv"
		start_position => "beginning"
	}
}

filter {
  grok {
    match => { "message" => "%{COMBINEDAPACHELOG}" }
  }
}

output {
	kafka {
   		bootstrap_servers => "localhost:9092"
      		codec => plain {
    			format => "%{message}"
     		}
     	topic_id => "ccfd"
   	}
}